Detection2D/mmdetection/test_rick.sh
Detection2D/mmdetection/train_rick.sh
Detection2D/mmdetection/train_jack.sh
exo_dataset/*.json
Pose2D/PoseAnything/*
Pose3D/ContextAware-PoseFormer/ContextPose/data/pretrained/coco/pose_hrnet_w32_256x192.pth
*/logs/*
*.sh